* {
  font-family: Roboto; }

.container {
  width: 460px;
  margin: 0 auto; }
  .container > .navbar {
    border: 3px solid #0275D8;
    background-color: #0275D8;
    text-align: center; }

.line {
  width: 60%;
  height: 5px;
  background: #BEE1FF;
  position: relative;
  border-radius: 10px;
  overflow: visible;
  margin-bottom: 75px;
  margin-top: 75px;
  margin-left: 90px; }
  .line > .dot {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    background: #BEE1FF;
    border-radius: 50%;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5); }
  .line > .dot.one {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 15px;
    height: 15px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #0275D8;
    border-radius: 50%;
    -webkit-transition: .3s all ease;
    transition: .3s all ease; }
  .line > .dot.two {
    position: absolute;
    top: 50%;
    left: 33%;
    width: 15px;
    height: 15px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #0275D8;
    border-radius: 50%;
    -webkit-transition: .3s all ease;
    transition: .3s all ease; }
  .line > .dot.three {
    left: 67%;
    background: #BEE1FF; }
  .line > .dot.four {
    left: 100%;
    background: #BEE1FF; }
